@import url("./navbar.css");
@import url("./hero.css");
@import url("./about.css");
@import url("./skills.css");
@import url("./work.css");
@import url("./connect.css");

body {
  font-family: 'Roboto', sans-serif !important;
  margin-top: 20%;
  color: #616161;
  padding: 0;
}

h1 {
  border-bottom: 3px solid #f27494;
  color: #444649;
  width: fit-content;
  margin: 10% auto;
  font-size: 2.5rem;
}

h2 {
  color: #444649;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #444649;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(70px, auto);
  grid-template-areas:
    "navbar"
    "hero"
    "about"
    "skills"
    "work"
    "connect"
    "footer"
  ;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.landing-container {
  text-align: center;
  padding: 2%;
}

#footer {
  grid-area: footer;
  background-color: #f9f9f9;
  color: #b4b4b4;
}

@media (min-width: 600px) and (max-width: 900px) {
  body {
    margin-top: 14%;
  }

  h1 {
    border-bottom: 5px solid #f27494;
    margin: 8% auto;
    font-size: 3.3rem;
  }

  p {
    font-size: 1.4rem;
  }
}

@media (min-width:901px) {
  body {
    margin-top: 4.5%;
  }

  h1 {
    border-bottom: 5px solid #f27494;
    margin: 3% auto;
    font-size: 3.3rem;
  }

  p {
    font-size: 1.4rem;
  }

  ul {
    display: block;
  }

  .landing-container {
    text-align: center;
    padding: 0%;
  }
}