#navbar{
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  position: fixed;
  top: 0;
  background-color: #fff;
  margin: 0;
  z-index: 999;
}

.navbar-logo {
  height: 40px;
  width: 40px;
}

.navbar-logo-text {
  display: none
}

.navbar-name {
  color: #F27494;
  font-size: 1.3rem;;
  font-family: 'Abel', sans-serif !important;
}

.mobile-menu {
  filter: invert(.5);
  width: 10%;
}

#mobile-window {
  position: absolute;
  top: 0;
  right: 0%;
  width: 70vw;
  height: 100vh;
  background-color: #00a1a7;
  display: flex ;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

#mobile-list {
  flex-direction: column;
  padding: 0;
}

#mobile-list li {
  margin: 5%;
}

#mobile-list a {
  color: #fff;
  font-size: 1.5rem;
}

#mobile-list a:hover {
  color: #ff7a8a !important;
}

#navbar-menu {
  display: none;
}

.remove {
  display: none !important;
}

.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.nav-active a{
  color: #ff7a8a !important;
}

#close-icon{
  width: 10%;
  margin: 10%;
}

@media (min-width: 600px) and (max-width: 900px) {
  #navbar{
    padding: 3%;
  }

  .navbar-logo {
    height: 60px;
    width: 60px;
  }

  .navbar-name {
    font-size: 2rem;;
  }

  .mobile-menu {
    filter: invert(.5);
    width: 8%;
  }
}

@media (min-width:901px) {
  #navbar{
    padding: 0.5%;
    width: 98vw;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .navbar-logo-text {
    display: block;
    width: 15%;
    margin-left: 2%;
  }

  .navbar-name {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  #navbar-menu {
    display: block;
    width: 35%;
  }

  #navbar-menu li {
    margin: 1% 5%;
  }

  #navbar-menu a:hover {
    color: #ff7a8a;
  }

  #mobile-window {
    display: none;
  }
}