#skills {
  grid-area: skills;
}

.about-me {
  margin: 10% auto;
}

.skill {
  width: 100%;
  height: 30px;
  background-color: #eee;
  margin: 5% auto;
}

.skill-name {
  height: 100%;
  background-color: #04c2c9;
  color: #fff;
  width: 30%;
}

.html, .css, .github {
  width: 55%;
  height: 30px;
}

.js, .react, .sql {
  width: 47%;
  height: 30px;
}

.redux, .node {
  width: 40%;
  height: 30px;
}

.angular, .mongo {
  width: 35%;
  height: 30px;
}
