#skills {
  grid-area: skills;
}

.my-pic {
  width: 200px;
  border-radius: 5%;
  margin: 10% auto 0% auto;
}

.about-me {
  margin: 10% auto;
}

.skill {
  width: 100%;
  height: 30px;
  background-color: #eee;
  margin: 5% auto;
}

.skill-name {
  height: 100%;
  background-color: #04c2c9;
  color: #fff;
  width: 30%;
}

.html, .css, .github {
  width: 55%;
  height: 30px;
}

.js, .react, .sql {
  width: 47%;
  height: 30px;
}

.redux, .node {
  width: 40%;
  height: 30px;
}

.angular, .mongo {
  width: 35%;
  height: 30px;
}

@media (min-width: 600px) and (max-width: 900px) {
  .my-pic {
    width: 320px;
    margin: 4% auto;
  }

  .about-me {
    margin: 4% auto;
  }

  .skill {
    width: 75%;
    height: 30px;
    background-color: #eee;
    margin: 5% auto;
  }
}

@media (min-width:901px) {
  #skills {
    padding: 1.4% 0% 1.5% 0%;
    height: 100vh;
  }

  .skills-container {
    display: flex;
    margin: 4% auto;
  }

  .my-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 35%;
  }

  .my-pic {
    width: 300px;
    margin: 1%;
  }

 .about-me {
  margin: 1%;
  width: 55%;
  text-align: center;
  font-size: 1.1rem;
  }

  .skill-set {
    width: 70%;
  }

  .skill {
    width: 75%;
    height: 30px;
    background-color: #eee;
    margin: 2% auto;
  }
}