#work {
  grid-area: work;
  padding: 10% 0% 0% 0%;
}

.project-container {
  margin: 20% auto 10% auto;
}

.project-container img {
  width: 100%;
}

@media (min-width: 600px) and (max-width: 1024px) {
  #work {
    grid-area: work;
    background-color: #f9f9f9;
  }

  .project-container {
    margin: 10% auto;
  }

  .project-container img {
    width: 80%;
  }
}

@media (min-width:1025px) {
  #work {
    padding: 1.4% 0% 0.5% 0%;
    background-color: #f9f9f9;
    height: 100vh;
  }

  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-container {
    width: 40%;
    margin: 1% auto;
    padding-bottom: 10%;
  }
}